<div class="ui inverted menu" wfd-id="165">
  <a class="active item"> Home </a>
  <a class="item"> Messages </a>
  <a class="item"> Friends </a>
</div>

<div class="ui inverted segment" wfd-id="155">
  <div class="ui inverted secondary pointing menu" wfd-id="156">
    <a class="active item"> Home </a>
    <a class="item"> Messages </a>
    <a class="item"> Friends </a>
  </div>
</div>
<div class="ui red three item menu" wfd-id="150">
  <a class="active item"> Home </a>
  <a class="item"> Messages </a>
  <a class="item"> Friends </a>
</div>
<div class="ui inverted menu" wfd-id="137">
  <a class="active red item">Red</a>
  <a class="orange item">Orange</a>
  <a class="yellow item">Yellow</a>
  <a class="olive item">Olive</a>
  <a class="green item">Green</a>
  <a class="teal item">Teal</a>
</div>
<div class="ui red three item inverted menu" wfd-id="134">
  <a class="active item"> Home </a>
  <a class="item"> Messages </a>
  <a class="item"> Friends </a>
</div>
